In [57]:
import pandas as pd
import numpy as np
print("ready")

ready

In [58]:
sch2015only = pd.read_csv('rc15csv/rc2015sch.csv', index_col=None)
sch2015only.head(3)

,schid14,schid15,schid,value,facilityname,selective,districtname,distid,distidalt,county,...,enrolldist2014,grades2014,zelemscore2014,avgelem2014,stdvelem2014,zhsscore2014,avghs2014,stdvhs2014,Unnamed: 214,Unnamed: 215
0,010010010260001,010010010260001,010010010260001,"Seymour High School, Payson",Seymour High School,--,Payson CUSD 1,010010010260000,010010010260000,Adams,...,531,7 8 9 10 11 12,-0.6,60.5,9.63,-0.12,51.3,10.72,NaN,NaN
1,010010010262002,010010010262002,010010010262002,"Seymour Elementary School, Payson",Seymour Elementary School,--,Payson CUSD 1,010010010260000,010010010260000,Adams,...,531,PK K 1 2 3 4 5 6,-0.25,60.5,9.63,--,--,--,NaN,NaN
2,010010020260001,010010020260001,010010020260001,"Liberty High School, Liberty",Liberty High School,--,Liberty CUSD 2,010010020260000,010010020260000,Adams,...,661,7 8 9 10 11 12,-0.08,65.5,9.17,-0.09,58.2,9.56,NaN,NaN

In [59]:
sch2015only = sch2015only.drop('Unnamed: 214',1)
sch2015only = sch2015only.drop('Unnamed: 215',1)
sch2015only.shape

(4094, 214)

In [60]:
updaterecurr = pd.read_csv('rc15csv/UPDATErecurr2015.csv', index_col=None)
print('1 loaded')

1 loaded

In [61]:
updaterecurr.head(3)

,schid,grades2015,percmin2015,enroll2015,enrolldist2015,lowinc2015,act2015school,actscore2015district,actscore2015state
0,010010010260001,7 8 9 10 11 12,2.4,206,517,39.3,18.4,18.4,20.5
1,010010010262002,PK K 1 2 3 4 5 6,4.5,311,517,54.7,NaN,18.4,20.5
2,010010020260001,7 8 9 10 11 12,1.7,296,653,34.1,20.6,20.6,20.5

In [62]:
left = sch2015only
right = updaterecurr
result = pd.merge(left, right, how='left', on='schid', suffixes=('_x', '_y'))
result.shape

(4094, 222)

In [63]:
result.head(3)

,schid14,schid15,schid,value,facilityname,selective,districtname,distid,distidalt,county,...,avghs2014,stdvhs2014,grades2015,percmin2015,enroll2015,enrolldist2015,lowinc2015,act2015school,actscore2015district,actscore2015state
0,010010010260001,010010010260001,010010010260001,"Seymour High School, Payson",Seymour High School,--,Payson CUSD 1,010010010260000,010010010260000,Adams,...,51.3,10.72,7 8 9 10 11 12,2.4,206,517,39.3,18.4,18.4,20.5
1,010010010262002,010010010262002,010010010262002,"Seymour Elementary School, Payson",Seymour Elementary School,--,Payson CUSD 1,010010010260000,010010010260000,Adams,...,--,--,PK K 1 2 3 4 5 6,4.5,311,517,54.7,NaN,18.4,20.5
2,010010020260001,010010020260001,010010020260001,"Liberty High School, Liberty",Liberty High School,--,Liberty CUSD 2,010010020260000,010010020260000,Adams,...,58.2,9.56,7 8 9 10 11 12,1.7,296,653,34.1,20.6,20.6,20.5

In [64]:
me2015 = pd.read_csv('rc15csv/me2015.csv', index_col=None)
me2015.head()

,schid,me2015school,me2015district,me2015state,me2015schDNY,me2015schPART,me2015schAPP,me2015schMET,me2015schEXC,me2015distDNY,me2015distPART,me2015distAPP,me2015distMET,me2015distEXC,me2015stateDNY,me2015statePART,me2015stateAPP,me2015stateMET,me2015stateEXC
0,010010010260001,25.6,33.0,33,24.8,20.0,29.6,20.0,5.6,15.0,21.9,30.2,30.2,2.9,14.4,24.2,28.4,28.6,4.4
1,010010010262002,36.1,33.0,33,10.8,22.6,30.4,34.5,1.7,15.0,21.9,30.2,30.2,2.9,14.4,24.2,28.4,28.6,4.4
2,010010020260001,30.9,31.5,33,9.7,18.8,40.6,28.8,2.1,9.0,21.9,37.6,28.6,2.9,14.4,24.2,28.4,28.6,4.4
3,010010020262002,32.0,31.5,33,8.5,24.3,35.2,28.4,3.6,9.0,21.9,37.6,28.6,2.9,14.4,24.2,28.4,28.6,4.4
4,010010030260001,11.0,22.6,33,39.7,24.0,25.3,11.0,0.0,19.3,25.6,32.5,21.7,0.9,14.4,24.2,28.4,28.6,4.4

In [65]:
left = result
right = me2015
sch2015me = pd.merge(left, right, how='left', on='schid', suffixes=('_x', '_y'))
sch2015me.shape

(4094, 240)

In [66]:
#'ELEMENTARY','MIDDLE SCHL','CHARTER SCH','CHARTER NET','CHARTER NET SCH','HIGH SCHOOL','CHARTER HIGH SCH','CHARTER NET HIGH SCH','CHARTER HIGH SCH+','CHARTER NET HIGH SCH+','HIGH SCHOOL+','OTHER','PRESCHOOL','EARLY CHILDHOOD'

#Selects only rows for elmentary schools, with charter sch included in elementary
elemval = ['HIGH SCHOOL','CHARTER HIGH SCH','CHARTER NET','CHARTER NET+','CHARTER NET HIGH SCH','CHARTER HIGH SCH+','CHARTER NET HIGH SCH+','HIGH SCHOOL+','OTHER','PRESCHOOL','EARLY CHILDHOOD']
me2015elem = sch2015me[~sch2015me.schooltype.isin(elemval)]

#renames column for elementary school scores
me2015elem = me2015elem.rename(columns = {'me2015school':'me2015schoolELEM'})
me2015elem = me2015elem[['schid','me2015schoolELEM']]

In [67]:
#Selects only rows for high schools
hsval = ['ELEMENTARY','MIDDLE SCHL','CHARTER SCH','CHARTER SCH+','CHARTER NET','CHARTER NET+','CHARTER NET SCH','OTHER','PRESCHOOL','EARLY CHILDHOOD']
me2015hs = sch2015me[~sch2015me.schooltype.isin(hsval)]

#renames column for elementary school scores
me2015hs = me2015hs.rename(columns = {'me2015school':'me2015schoolHS'})
me2015hs = me2015hs[['schid','me2015schoolHS']]

In [68]:
left = sch2015me
right = me2015elem
resultElem = pd.merge(left, right, how='left', on='schid', suffixes=('_x', '_y'))
resultElem.shape

(4094, 241)

In [69]:
left = resultElem
right = me2015hs
resultall = pd.merge(left, right, how='left', on='schid', suffixes=('_x', '_y'))
resultall.shape

(4094, 242)

In [70]:
resultall = resultall.applymap(lambda x: "" if isinstance(x, str) and x.isspace() else x)
resultall = resultall.fillna('')
resultall.head(3)

,schid14,schid15,schid,value,facilityname,selective,districtname,distid,distidalt,county,...,me2015distAPP,me2015distMET,me2015distEXC,me2015stateDNY,me2015statePART,me2015stateAPP,me2015stateMET,me2015stateEXC,me2015schoolELEM,me2015schoolHS
0,010010010260001,010010010260001,010010010260001,"Seymour High School, Payson",Seymour High School,--,Payson CUSD 1,010010010260000,010010010260000,Adams,...,30.2,30.2,2.9,14.4,24.2,28.4,28.6,4.4,,25.6
1,010010010262002,010010010262002,010010010262002,"Seymour Elementary School, Payson",Seymour Elementary School,--,Payson CUSD 1,010010010260000,010010010260000,Adams,...,30.2,30.2,2.9,14.4,24.2,28.4,28.6,4.4,36.1,
2,010010020260001,010010020260001,010010020260001,"Liberty High School, Liberty",Liberty High School,--,Liberty CUSD 2,010010020260000,010010020260000,Adams,...,37.6,28.6,2.9,14.4,24.2,28.4,28.6,4.4,,30.9

In [71]:
resultall.shape

(4094, 242)

In [72]:
resultall.to_csv("rc15csv/pai2015before.csv", index=False)