In [1]:
# Import all libraries needed for the tutorial
import pandas as pd
import pymysql
from pandas.io import sql
from pandas.io.sql import read_sql, to_sql
from sqlalchemy import create_engine, Table, Column, Integer, String, MetaData, ForeignKey

#pd.set_option('display.mpl_style', 'default') 
pd.set_option('display.width', 5000) 
pd.set_option('display.max_columns', 60)
pd.set_option('display.max_rows', 60)

print('is loaded')

is loaded

In [2]:
base = pd.read_csv('rc15csv/pai2015done.csv', index_col=None)
base.head(3)

             schid          schid14          schid15                              value               facilityname selective    districtname           distid        distidalt county districttype    schooltype gradesserved      administrator            address     city state         zip    telephone   latitude  longitude note me2006schoolisat me2006districtisat me2006stateisat me2007schoolisat me2007districtisat me2007stateisat me2008schoolisat me2008districtisat  ...   me2015schPART me2015schAPP me2015schMET me2015schEXC me2015distDNY me2015distPART me2015distAPP me2015distMET me2015distEXC me2015stateDNY me2015statePART me2015stateAPP me2015stateMET me2015stateEXC me2015schoolELEM me2015schoolHS zelemscore2015me avgelem2015me stdvelem2015me zelemscore2015meapp avgelem2015meapp stdvelem2015meapp avgELEMz zhsscore2015me avghs2015me stdvhs2015me zhsscore2015meapp avghs2015meapp stdvhs2015meapp avgHSz
0  010010010260001  010010010260001  010010010260001        Seymour High School, Payson        Seymour High School        --   Payson CUSD 1  010010010260000  010010010260000  Adams         UNIT  HIGH SCHOOL+         7-12  Mrs. Dawn VanCamp  420 W Brainard St   Payson    IL  62360 1033  217656-3355  39.816223 -91.247609   --             74.6               82.2              77             80.7               81.1            78.7             81.3               81.8  ...            20.0         29.6         20.0          5.6            15           21.9          30.2          30.2           2.9           14.4            24.2           28.4           28.6            4.4              NaN           25.6              NaN           NaN            NaN                 NaN              NaN               NaN      NaN          -0.11        27.1        13.86              0.03           27.1           13.86  -0.04
1  010010010262002  010010010262002  010010010262002  Seymour Elementary School, Payson  Seymour Elementary School        --   Payson CUSD 1  010010010260000  010010010260000  Adams         UNIT    ELEMENTARY          P-6  Mr. Ted Trueblood     404 W State St   Payson    IL  62360 1041  217656-3323  39.817486 -91.246610   --               87               82.2              77             81.3               81.1            78.7             82.2               81.8  ...            22.6         30.4         34.5          1.7            15           21.9          30.2          30.2           2.9           14.4            24.2           28.4           28.6            4.4             36.1            NaN             0.66          29.8           9.61                0.49             29.8              9.61     0.57            NaN         NaN          NaN               NaN            NaN             NaN    NaN
2  010010020260001  010010020260001  010010020260001       Liberty High School, Liberty        Liberty High School        --  Liberty CUSD 2  010010020260000  010010020260000  Adams         UNIT  HIGH SCHOOL+         7-12  Mrs. Karen Jirjis      505 N Park St  Liberty    IL  62347 1107  217645-3433  39.888037 -91.107025   --               --                 --              --               --                 --              --               --                 --  ...            18.8         40.6         28.8          2.1             9           21.9          37.6          28.6           2.9           14.4            24.2           28.4           28.6            4.4              NaN           30.9              NaN           NaN            NaN                 NaN              NaN               NaN      NaN           0.01        30.7        13.64              0.80           30.7           13.64   0.40

[3 rows x 256 columns]

In [3]:
base = base.drop('me2015schoolELEM', 1)
base = base.drop('me2015schoolHS', 1)
base = base.drop('zelemscore2015me', 1)
base = base.drop('avgelem2015me', 1)
base = base.drop('stdvelem2015me', 1)
base = base.drop('zelemscore2015meapp', 1)
base = base.drop('avgelem2015meapp', 1)
base = base.drop('stdvelem2015meapp', 1)
base = base.drop('zhsscore2015me', 1)
base = base.drop('avghs2015me', 1)
base = base.drop('stdvhs2015me', 1)
base = base.drop('zhsscore2015meapp', 1)
base = base.drop('avghs2015meapp', 1)
base = base.drop('stdvhs2015meapp', 1)

In [4]:
base = base.applymap(lambda x: "--" if isinstance(x, str) and x.isspace() else x)
base = base.fillna('--')
base.head(5)

             schid          schid14          schid15                               value               facilityname selective    districtname           distid        distidalt county districttype    schooltype gradesserved         administrator            address        city state         zip    telephone   latitude  longitude note me2006schoolisat me2006districtisat me2006stateisat me2007schoolisat me2007districtisat me2007stateisat me2008schoolisat me2008districtisat  ...   avghs2014 stdvhs2014        grades2015 percmin2015 enroll2015 enrolldist2015 lowinc2015 act2015school actscore2015district actscore2015state me2015school me2015district me2015state me2015schDNY me2015schPART me2015schAPP me2015schMET me2015schEXC me2015distDNY me2015distPART me2015distAPP me2015distMET me2015distEXC me2015stateDNY me2015statePART me2015stateAPP me2015stateMET me2015stateEXC avgELEMz avgHSz
0  010010010260001  010010010260001  010010010260001         Seymour High School, Payson        Seymour High School        --   Payson CUSD 1  010010010260000  010010010260000  Adams         UNIT  HIGH SCHOOL+         7-12     Mrs. Dawn VanCamp  420 W Brainard St      Payson    IL  62360 1033  217656-3355  39.816223 -91.247609   --             74.6               82.2              77             80.7               81.1            78.7             81.3               81.8  ...        51.3      10.72    7 8 9 10 11 12         2.4        206            517       39.3          18.4                 18.4              20.5         25.6             33          33         24.8            20         29.6           20          5.6            15           21.9          30.2          30.2           2.9           14.4            24.2           28.4           28.6            4.4       --  -0.04
1  010010010262002  010010010262002  010010010262002   Seymour Elementary School, Payson  Seymour Elementary School        --   Payson CUSD 1  010010010260000  010010010260000  Adams         UNIT    ELEMENTARY          P-6     Mr. Ted Trueblood     404 W State St      Payson    IL  62360 1041  217656-3323  39.817486 -91.246610   --               87               82.2              77             81.3               81.1            78.7             82.2               81.8  ...          --         --  PK K 1 2 3 4 5 6         4.5        311            517       54.7            --                 18.4              20.5         36.1             33          33         10.8          22.6         30.4         34.5          1.7            15           21.9          30.2          30.2           2.9           14.4            24.2           28.4           28.6            4.4     0.57     --
2  010010020260001  010010020260001  010010020260001        Liberty High School, Liberty        Liberty High School        --  Liberty CUSD 2  010010020260000  010010020260000  Adams         UNIT  HIGH SCHOOL+         7-12     Mrs. Karen Jirjis      505 N Park St     Liberty    IL  62347 1107  217645-3433  39.888037 -91.107025   --               --                 --              --               --                 --              --               --                 --  ...        58.2       9.56    7 8 9 10 11 12         1.7        296            653       34.1          20.6                 20.6              20.5         30.9           31.5          33          9.7          18.8         40.6         28.8          2.1             9           21.9          37.6          28.6           2.9           14.4            24.2           28.4           28.6            4.4       --    0.4
3  010010020262002  010010020262002  010010020262002  Liberty Elementary School, Liberty  Liberty Elementary School        --  Liberty CUSD 2  010010020260000  010010020260000  Adams         UNIT    ELEMENTARY          P-6       Mrs. Jody Obert      505 N Park St     Liberty    IL  62347 1107  217645-3481  39.888037 -91.107025   --             80.8               80.8              77             81.8               81.8            78.7             82.3               82.3  ...          --         --  PK K 1 2 3 4 5 6         4.5        357            653       37.8            --                 20.6              20.5           32           31.5          33          8.5          24.3         35.2         28.4          3.6             9           21.9          37.6          28.6           2.9           14.4            24.2           28.4           28.6            4.4     -0.6     --
4  010010030260001  010010030260001  010010030260001     Central High School, Camp Point        Central High School        --  Central CUSD 3  010010030260000  010010030260000  Adams         UNIT   HIGH SCHOOL         9-12  Mr. Jeffrey Waggener  2110 Highway 94 N  Camp Point    IL  62320 2516  217593-7731  40.064662 -91.030082   --               --                 --              --               --                 --              --               --                 --  ...        51.3      10.72        9 10 11 12         3.9        283            862       47.3          19.6                 19.6              20.5           11           22.6          33         39.7            24         25.3           11            0          19.3           25.6          32.5          21.7           0.9           14.4            24.2           28.4           28.6            4.4       --  -1.18

[5 rows x 242 columns]

In [6]:
base.shape

(4094, 242)

In [7]:
#with sqlalchemy, create the engine
con = create_engine('mysql+pymysql://root:root@localhost:8889/School Report Cards', echo=False)
print('connected')

connected

In [8]:
metadata = MetaData()
rc2015sch = Table('rc2015sch', metadata,
    Column('schid14', String(20)),
    Column('schid15', String(20)),
    Column('schid', String(20), primary_key=True),
    Column('value', String(100)),
    Column('facilityname', String(85)),
    Column('selective', String(2)),
    Column('districtname', String(40)),
    Column('distid', String(15)),
    Column('distidalt', String(15)),
    Column('county', String(20)),
    Column('districttype', String(15)),
    Column('schooltype', String(21)),
    Column('gradesserved', String(20)),
    Column('administrator', String(35)),
    Column('address', String(35)),
    Column('city', String(35)),
    Column('state', String(2)),
    Column('zip', String(10)),
    Column('telephone', String(12)),
    Column('latitude', String(20)),
    Column('longitude', String(20)),
    Column('note', String(225)),
    Column('me2006schoolisat', String(5)),
    Column('me2006districtisat', String(5)),
    Column('me2006stateisat', String(5)),
    Column('me2007schoolisat', String(5)),
    Column('me2007districtisat', String(5)),
    Column('me2007stateisat', String(5)),
    Column('me2008schoolisat', String(5)),
    Column('me2008districtisat', String(5)),
    Column('me2008stateisat', String(5)),
    Column('me2009schoolisat', String(5)),
    Column('me2009districtisat', String(5)),
    Column('me2009stateisat', String(5)),
    Column('me2010schoolisat', String(5)),
    Column('me2010districtisat', String(5)),
    Column('me2010stateisat', String(5)),
    Column('me2011schoolisat', String(5)),
    Column('me2011districtisat', String(5)),
    Column('me2011stateisat', String(5)),
    Column('me2012schoolisat', String(5)),
    Column('me2012districtisat', String(5)),
    Column('me2012stateisat', String(5)),
    Column('me2013schoolisat', String(5)),
    Column('me2013districtisat', String(5)),
    Column('me2013stateisat', String(5)),
    Column('me2014schoolisat', String(5)),
    Column('me2014districtisat', String(5)),
    Column('me2014stateisat', String(5)),
    Column('me2006schoolpsae', String(5)),
    Column('me2006districtpsae', String(5)),
    Column('me2006statepsae', String(5)),
    Column('me2007schoolpsae', String(5)),
    Column('me2007districtpsae', String(5)),
    Column('me2007statepsae', String(5)),
    Column('me2008schoolpsae', String(5)),
    Column('me2008districtpsae', String(5)),
    Column('me2008statepsae', String(5)),
    Column('me2009schoolpsae', String(5)),
    Column('me2009districtpsae', String(5)),
    Column('me2009statepsae', String(5)),
    Column('me2010schoolpsae', String(5)),
    Column('me2010districtpsae', String(5)),
    Column('me2010statepsae', String(5)),
    Column('me2011schoolpsae', String(5)),
    Column('me2011districtpsae', String(5)),
    Column('me2011statepsae', String(5)),
    Column('me2012schoolpsae', String(5)),
    Column('me2012districtpsae', String(5)),
    Column('me2012statepsae', String(5)),
    Column('me2013schoolpsae', String(5)),
    Column('me2013districtpsae', String(5)),
    Column('me2013statepsae', String(5)),
    Column('me2014schoolpsae', String(5)),
    Column('me2014districtpsae', String(5)),
    Column('me2014statepsae', String(5)),
    Column('act2006school', String(4)),
    Column('act2006district', String(4)),
    Column('act2006state', String(4)),
    Column('act2007school', String(4)),
    Column('act2007district', String(4)),
    Column('act2007state', String(4)),
    Column('act2008school', String(4)),
    Column('act2008district', String(4)),
    Column('act2008state', String(4)),
    Column('act2009school', String(4)),
    Column('act2009district', String(4)),
    Column('act2009state', String(4)),
    Column('act2010school', String(4)),
    Column('act2010district', String(4)),
    Column('act2010state', String(4)),
    Column('act2011school', String(4)),
    Column('act2011district', String(4)),
    Column('act2011state', String(4)),
    Column('act2012school', String(4)),
    Column('act2012district', String(4)),
    Column('act2012state', String(4)),
    Column('act2013school', String(4)),
    Column('act2013district', String(4)),
    Column('act2013state', String(4)),
    Column('act2014school', String(4)),
    Column('actscore2014district', String(4)),
    Column('actscore2014state', String(4)),
    Column('grow2013schoolread', String(5)),
    Column('grow2013distread', String(5)),
    Column('grow2013stateread', String(5)),
    Column('grow2013schoolmath', String(5)),
    Column('grow2013distmath', String(5)),
    Column('grow2013statemath', String(5)),
    Column('grow2014schoolread', String(5)),
    Column('grow2014distread', String(5)),
    Column('grow2014stateread', String(5)),
    Column('grow2014schoolmath', String(5)),
    Column('grow2014distmath', String(5)),
    Column('grow2014statemath', String(5)),
    Column('lowinc2006', String(5)),
    Column('percmin2006', String(5)),
    Column('enroll2006', String(5)),
    Column('enrolldist2006', String(6)),
    Column('grades2006', String(33)),
    Column('zelemscore2006', String(5)),
    Column('avgelem2006', String(5)),
    Column('stdvelem2006', String(5)),
    Column('zhsscore2006', String(5)),
    Column('avghs2006', String(5)),
    Column('stdvhs2006', String(5)),
    Column('lowinc2007', String(5)),
    Column('percmin2007', String(5)),
    Column('enroll2007', String(5)),
    Column('enrolldist2007', String(6)),
    Column('grades2007', String(33)),
    Column('zelemscore2007', String(5)),
    Column('avgelem2007', String(5)),
    Column('stdvelem2007', String(5)),
    Column('zhsscore2007', String(5)),
    Column('avghs2007', String(5)),
    Column('stdvhs2007', String(5)),
    Column('lowinc2008', String(5)),
    Column('percmin2008', String(5)),
    Column('enroll2008', String(5)),
    Column('enrolldist2008', String(6)),
    Column('grades2008', String(33)),
    Column('zelemscore2008', String(5)),
    Column('avgelem2008', String(5)),
    Column('stdvelem2008', String(5)),
    Column('zhsscore2008', String(5)),
    Column('avghs2008', String(5)),
    Column('stdvhs2008', String(5)),
    Column('lowinc2009', String(5)),
    Column('percmin2009', String(5)),
    Column('enroll2009', String(5)),
    Column('enrolldist2009', String(6)),
    Column('grades2009', String(33)),
    Column('zelemscore2009', String(5)),
    Column('avgelem2009', String(5)),
    Column('stdvelem2009', String(5)),
    Column('zhsscore2009', String(5)),
    Column('avghs2009', String(5)),
    Column('stdvhs2009', String(5)),
    Column('lowinc2010', String(5)),
    Column('percmin2010', String(5)),
    Column('enroll2010', String(5)),
    Column('enrolldist2010', String(6)),
    Column('grades2010', String(33)),
    Column('zelemscore2010', String(5)),
    Column('avgelem2010', String(5)),
    Column('stdvelem2010', String(5)),
    Column('zhsscore2010', String(5)),
    Column('avghs2010', String(5)),
    Column('stdvhs2010', String(5)),
    Column('lowinc2011', String(5)),
    Column('percmin2011', String(5)),
    Column('enroll2011', String(5)),
    Column('enrolldist2011', String(6)),
    Column('grades2011', String(33)),
    Column('zelemscore2011', String(5)),
    Column('avgelem2011', String(5)),
    Column('stdvelem2011', String(5)),
    Column('zhsscore2011', String(5)),
    Column('avghs2011', String(5)),
    Column('stdvhs2011', String(5)),
    Column('lowinc2012', String(5)),
    Column('percmin2012', String(5)),
    Column('enroll2012', String(5)),
    Column('enrolldist2012', String(6)),
    Column('grades2012', String(33)),
    Column('zelemscore2012', String(5)),
    Column('avgelem2012', String(5)),
    Column('stdvelem2012', String(5)),
    Column('zhsscore2012', String(5)),
    Column('avghs2012', String(5)),
    Column('stdvhs2012', String(5)),
    Column('lowinc2013', String(5)),
    Column('percmin2013', String(5)),
    Column('enroll2013', String(5)),
    Column('enrolldist2013', String(6)),
    Column('grades2013', String(33)),
    Column('zelemscore2013', String(5)),
    Column('avgelem2013', String(5)),
    Column('stdvelem2013', String(5)),
    Column('zhsscore2013', String(5)),
    Column('avghs2013', String(5)),
    Column('stdvhs2013', String(5)),
    Column('lowinc2014', String(5)),
    Column('percmin2014', String(5)),
    Column('enroll2014', String(5)),
    Column('enrolldist2014', String(6)),
    Column('grades2014', String(33)),
    Column('zelemscore2014', String(5)),
    Column('avgelem2014', String(5)),
    Column('stdvelem2014', String(5)),
    Column('zhsscore2014', String(5)),
    Column('avghs2014', String(5)),
    Column('stdvhs2014', String(5)),
    Column('grades2015', String(33)),
    Column('lowinc2015', String(5)),
    Column('percmin2015', String(5)),
    Column('enroll2015', String(7)),
    Column('enrolldist2015', String(8)),
    Column('act2015school', String(4)),
    Column('actscore2015district', String(4)),
    Column('actscore2015state', String(4)),
    Column('me2015school', String(5)),
    Column('me2015district', String(5)),
    Column('me2015state', String(5)),
    Column('me2015schDNY', String(5)),
    Column('me2015schPART', String(5)),
    Column('me2015schAPP', String(5)),
    Column('me2015schMET', String(5)),
    Column('me2015schEXC', String(5)),
    Column('me2015distDNY', String(5)),
    Column('me2015distPART', String(5)),
    Column('me2015distAPP', String(5)),
    Column('me2015distMET', String(5)),
    Column('me2015distEXC', String(5)),
    Column('me2015stateDNY', String(5)),
    Column('me2015statePART', String(5)),
    Column('me2015stateAPP', String(5)),
    Column('me2015stateMET', String(5)),
    Column('me2015stateEXC', String(5)),
    Column('avgELEMz', String(5)),
    Column('avgHSz', String(5)),
    mysql_engine='InnoDB')

con.execute("DROP TABLE IF EXISTS rc2015sch")
metadata.create_all(con)
print("created")

created

In [9]:
base.to_sql(name='rc2015sch', con=con, if_exists = 'append', index=False, index_label=None, chunksize=1000)
print('done')

done