In [1]:
# Import all libraries needed for the tutorial
import pandas as pd
import pymysql
from pandas.io import sql
from pandas.io.sql import read_sql, to_sql
from sqlalchemy import create_engine, Table, Column, Integer, String, MetaData, ForeignKey

#pd.set_option('display.mpl_style', 'default') 
pd.set_option('display.width', 5000) 
pd.set_option('display.max_columns', 60)
pd.set_option('display.max_rows', 60)

print('is loaded')

is loaded

In [26]:
base = pd.read_csv('rc15csv/rc2015dists.csv', index_col='distID')
base.head(3)

                DistNum                                ValueDIST           districtNAMEdist countyNAMEdist districtTYPEdist districtSIZEdist gradesSERVEDdist   AdministratorDIST        AddressDIST cityNAMEdist StateDIST     ZipDIST TelephoneDIST  LatitudeDIST  LongitudeDIST NoteDIST
distID
300771010260000    1010        Meridian CUSD 101, Pulaski County          Meridian CUSD 101        Pulaski             UNIT           MEDIUM             P-12    Mr. Spencer Byrd     1401 Mounds Rd       Mounds        IL  62964 2325   618342-6778     37.116221     -89.194753      - -
200970050260000    0050  Carmi-White County CUSD 5, White County  Carmi-White County CUSD 5          White             UNIT           MEDIUM             P-12        Mr. Brad Lee  211 W Robinson St        Carmi        IL  62821 1640   618382-2341     38.087186     -88.162962      - -
500820190260000    0190     Mascoutah CUD 19, Saint Clair County           Mascoutah CUD 19    Saint Clair             UNIT            LARGE             P-12  Dr. Craig A Fiegel   421 W Harnett St    Mascoutah        IL  62258 1362   618566-7414     38.496422     -89.804637      - -

In [27]:
base.shape

(868, 16)

In [30]:
addscores = pd.read_csv('rc15csv/rc2015sch.csv', index_col=None)
addscores.head(3)

           schid14          schid15            schid                                          value                       facilityname Selective            districtNAME           distID        distIDalt county districtTYPE        schoolTYPE GradesServed                Administrator             Address          City state         Zip    telephone   LATITUDE  LONGITUDE    Note me2006schoolISAT me2006districtISAT me2006stateISAT me2007schoolISAT me2007districtISAT me2007stateISAT me2008schoolISAT me2008districtISAT     ...     stdvhs2012 lowinc2013 percmin2013 enroll2013 enrolldist2013      grades2013 zelemscore2013 avgelem2013 stdvelem2013 zhsscore2013 avghs2013 stdvhs2013 lowinc2014 percmin2014 enroll2014 enrolldist2014      grades2014 zelemscore2014 avgelem2014 stdvelem2014 zhsscore2014 avghs2014 stdvhs2014 enroll2015 enrolldist2015 lowinc2015 act2015school actscore2015district actscore2015state percmin2015
0  46009015026001C  46009015026001C  01009015026001C  Beardstown Charter Sch Learn Acad, Beardstown  Beardstown Charter Sch Learn Acad         *      Beardstown CUSD 15  010090150260000  010090150260000   Cass         UNIT  CHARTER HIGH SCH       12-Sep                           --        515 Canal St    Beardstown    IL  62618 2150           --  40.017839 -90.423555  Closed               --                 --              --               --                 --              --               --                 --     ...          12.83       91.7        19.4         36           1479      9 10 11 12             --          --           --        -0.08        21      12.71       74.3          40         35           1481      9 10 11 12             --          --           --        -1.71      36.7      15.58         27          1,582       77.8          14.8                 17.2              20.5        40.7
1  07016901025001C  07016901025001C  07016901025001C           Southland College Prep, Richton Park             Southland College Prep         *  Southland College Prep  070169010250000  070169010250000   Cook  HIGH SCHOOL  CHARTER HIGH SCH       12-Sep           Dr. Blondean Davis       4601 Sauk Trl  Richton Park    IL  60471 1470  708747-0301  41.484221 -87.727517      --               --                 --              --               --                 --              --               --                 --     ...             --       55.9        98.6        370            370         9 10 11             --          --           --         0.32      42.5      14.05       51.2        98.7        471            471      9 10 11 12             --          --           --        -0.17      44.9      11.46        494            494       57.3          19.3                 19.3              20.5        97.8
2  15016299025007C  15016299025007C  15016299025007C     Young Womens Leadership Chartr HS, Chicago  Young Womens Leadership Chartr HS         *  City of Chicago SD 299  150162990250000  150162990250000   Cook         UNIT  CHARTER HIGH SCH       12-Aug  Dr. Ruanda Garth-McCullough  2641 S Calumet Ave       Chicago    IL  60616 2901  312949-9400  41.845192 -87.618807      --             58.2               61.6              77             63.6               63.9            78.7             59.5               65.2     ...          12.83       84.1        95.4        345         395071  7 8 9 10 11 12          -1.63        42.9        11.01        -0.59      28.6      18.76       84.8        96.3        328         395079  7 8 9 10 11 12          -1.21        42.5        11.17        -0.69      34.7      17.36        327        397,833       91.4          16.8                 18.2              20.5        98.5

[3 rows x 221 columns]

In [31]:
scores = addscores[['distID','me2014districtISAT','me2014districtPSAE','actscore2015district']]
scores.head(3)

            distID me2014districtISAT me2014districtPSAE actscore2015district
0  010090150260000                 --               31.4                 17.2
1  070169010250000                 --               42.9                 19.3
2  150162990250000               49.5               36.8                 18.2

In [42]:
scores.columns=['distID','ELEMdist','HSdist','ACTdist']
newscores = scores.groupby('distID')[['ELEMdist','HSdist','ACTdist']].max()
newscores.head(3)

                ELEMdist HSdist ACTdist
distID
010010010260000       57     50    18.4
010010020260000     62.4   57.3    20.6
010010030260000     51.2   51.5    19.6

In [43]:
newscores.shape

(861, 3)

In [48]:
#Joining
left = base
right = newscores
result = pd.merge(left, right, left_index=True, right_index=True, how='left', suffixes=('_x', '_y'))
result.head(3)

                DistNum                                ValueDIST           districtNAMEdist countyNAMEdist districtTYPEdist districtSIZEdist gradesSERVEDdist   AdministratorDIST        AddressDIST cityNAMEdist StateDIST     ZipDIST TelephoneDIST  LatitudeDIST  LongitudeDIST NoteDIST ELEMdist HSdist ACTdist
distID
300771010260000    1010        Meridian CUSD 101, Pulaski County          Meridian CUSD 101        Pulaski             UNIT           MEDIUM             P-12    Mr. Spencer Byrd     1401 Mounds Rd       Mounds        IL  62964 2325   618342-6778     37.116221     -89.194753      - -     21.6   17.9    16.3
200970050260000    0050  Carmi-White County CUSD 5, White County  Carmi-White County CUSD 5          White             UNIT           MEDIUM             P-12        Mr. Brad Lee  211 W Robinson St        Carmi        IL  62821 1640   618382-2341     38.087186     -88.162962      - -     52.2   35.3      18
500820190260000    0190     Mascoutah CUD 19, Saint Clair County           Mascoutah CUD 19    Saint Clair             UNIT            LARGE             P-12  Dr. Craig A Fiegel   421 W Harnett St    Mascoutah        IL  62258 1362   618566-7414     38.496422     -89.804637      - -     73.5   67.5      22

In [55]:
result = result.fillna('--')
result.to_csv("rc15csv/districts.csv")
dists = pd.read_csv('rc15csv/districts.csv', index_col=None)
dists.head(3)

            distID DistNum                                ValueDIST           districtNAMEdist countyNAMEdist districtTYPEdist districtSIZEdist gradesSERVEDdist   AdministratorDIST        AddressDIST cityNAMEdist StateDIST     ZipDIST TelephoneDIST  LatitudeDIST  LongitudeDIST NoteDIST ELEMdist HSdist ACTdist
0  300771010260000    1010        Meridian CUSD 101, Pulaski County          Meridian CUSD 101        Pulaski             UNIT           MEDIUM             P-12    Mr. Spencer Byrd     1401 Mounds Rd       Mounds        IL  62964 2325   618342-6778     37.116221     -89.194753      - -     21.6   17.9    16.3
1  200970050260000    0050  Carmi-White County CUSD 5, White County  Carmi-White County CUSD 5          White             UNIT           MEDIUM             P-12        Mr. Brad Lee  211 W Robinson St        Carmi        IL  62821 1640   618382-2341     38.087186     -88.162962      - -     52.2   35.3      18
2  500820190260000    0190     Mascoutah CUD 19, Saint Clair County           Mascoutah CUD 19    Saint Clair             UNIT            LARGE             P-12  Dr. Craig A Fiegel   421 W Harnett St    Mascoutah        IL  62258 1362   618566-7414     38.496422     -89.804637      - -     73.5   67.5      22

In [59]:
#with sqlalchemy, create the engine
con = create_engine('mysql+pymysql://root:root@localhost:8889/School Report Cards', echo=False)
print('connected')

connected

In [60]:
metadata = MetaData()
rc2015dists = Table('rc2015dists', metadata,
    Column('distID', String(20), primary_key=True),
    Column('DistNum', String(4)),
    Column('ValueDIST', String(65)),
    Column('districtNAMEdist', String(40)), 
    Column('countyNAMEdist', String(20)),
    Column('districtTYPEdist', String(15)),
    Column('districtSIZEdist', String(10)),
    Column('gradesSERVEDdist', String(20)),
    Column('AdministratorDIST', String(35)),
    Column('AddressDIST', String(35)),
    Column('cityNAMEdist', String(35)),
    Column('StateDIST', String(3)),
    Column('ZipDIST', String(10)),
    Column('TelephoneDIST', String(12)),
    Column('LatitudeDIST', String(20)),
    Column('LongitudeDIST', String(20)),
    Column('NoteDIST', String(150)),
    Column('ELEMdist', String(4)),
    Column('HSdist', String(4)),
    Column('ACTdist', String(4)),
    mysql_engine='InnoDB')

con.execute("DROP TABLE IF EXISTS rc2015dists")
metadata.create_all(con)
print("created")

created

In [61]:
dists.to_sql(name='rc2015dists', con=con, if_exists = 'append', index=False, index_label=None, chunksize=1000)
print('done')

done