In [1]:
# Import all libraries needed for the tutorial
import pandas as pd
import pymysql
from pandas.io import sql
from pandas.io.sql import read_sql, to_sql
from sqlalchemy import create_engine, Table, Column, Integer, String, MetaData, ForeignKey

#pd.set_option('display.mpl_style', 'default') 
pd.set_option('display.width', 5000) 
pd.set_option('display.max_columns', 60)
pd.set_option('display.max_rows', 60)

print('is loaded')

is loaded

In [3]:
# loads in the data in manageable chunks, making sure there's no header 

base = pd.read_csv('rc15csv/rc15.txt', sep=';', header=None, iterator=True, chunksize=1000, low_memory=False)
data = pd.concat(list(base), ignore_index=True)

print('this is loaded')

this is loaded

In [4]:
data.shape

(3764, 766)

In [5]:
data.head(3)

               0   1    2                                  3                                  4                  5            6    7    8            9       10           11                               12    13   14   15   16   17   18   19     20     21     22     23     24     25     26     27       28    29  ...    736    737    738    739   740    741    742    743   744    745    746    747   748    749    750    751   752    753    754    755    756    757    758  759 760  761  762   763  764  765
0  010010010260001   0  NaN  Seymour High School                Payson CUSD 1                      Payson             Adams          2    8  UNIT         MEDIUM  HIGH SCHOOL  7 8 9 10 11 12                   97.6  0.0  0.0    0  0.5  0.0  1.9    206                                                            96.3 ...   94.1   72.7          72.7  73.4   69.7          69.7  69.6   93.0          93.0  83.4   48.5          48.5  25.4   91.0   57.1  100.0   84.5   88.0   83.8    0   0    0    2  3764  859  NaN
1  010010010262002   2  NaN  Seymour Elementary School          Payson CUSD 1                      Payson             Adams          2    8  UNIT         MEDIUM  ELEMENTARY   PK K 1 2 3 4 5 6                 95.5  0.6  0.0    0  0.0  0.0  3.9    311                                                            96.3 ...   94.1                 72.7  73.4                 69.7  69.6                 93.0  83.4                 48.5  25.4   87.9   78.3  100.0   84.5   88.0   83.8    0   0    0    2  3764  859  NaN
2  010010020260001   0  NaN  Liberty High School                Liberty CUSD 2                     Liberty            Adams          2    8  UNIT         MEDIUM  HIGH SCHOOL  7 8 9 10 11 12                   98.3  0.3  0.3    0  0.0  0.3  0.7    296                                                            96.8 ...   94.1   81.6          81.6  73.4   77.6          77.6  69.6   97.4          97.4  83.4   28.3          28.3  25.4   98.3   80.8  100.0   84.5   88.0   83.8    0   0    0    2  3764  859  NaN

[3 rows x 766 columns]

In [6]:
#Gathers info that we want to track year over year. % white will be turned into % minority

#All possible
#recurr2015 = data[[0,13,20,36,53,253,255,256,902,904,905,910,912,913,9320,9321,9322,9323,9324,9325]]

#Likely
#recurr2015 = data[[0,13,20,36,53,253,255,256,902,904,905]]

# for dem release
recurr2015 = data[[0,13,20,36,53,253,255,256]]
recurr2015.head(3)

               0     13     20       36    53    253   255   256
0  010010010260001  97.6    206      517  39.3  18.4  18.4  20.5
1  010010010262002  95.5    311      517  54.7        18.4  20.5
2  010010020260001  98.3    296      653  34.1  20.6  20.6  20.5

In [7]:
#demographics with all possible
#recurr2015.columns = ['schid','demschoolwhite','enroll2015','enrolldist2015','lowinc2015','act2015school','actscore2015district','actscore2015state','me2015schoolISAT','me2015districtISAT','me2015stateISAT','me2015schoolPSAE','me2015districtPSAE','me2015statePSAE','grow2015schoolRead','grow2015distRead','grow2015stateRead','grow2015schoolMath','grow2015distMath','grow2015stateMath']

#demographics with likely
#recurr2015.columns = ['schid','demschoolwhite','enroll2015','enrolldist2015','lowinc2015','act2015school','actscore2015district','actscore2015state','me2015school','me2015district','me2015state']

#demographics with just act results
recurr2015.columns = ['schid','demschoolwhite','enroll2015','enrolldist2015','lowinc2015','act2015school','actscore2015district','actscore2015state']
recurr2015.head(3)

             schid  demschoolwhite enroll2015 enrolldist2015  lowinc2015 act2015school actscore2015district  actscore2015state
0  010010010260001            97.6        206            517        39.3          18.4                 18.4               20.5
1  010010010262002            95.5        311            517        54.7                               18.4               20.5
2  010010020260001            98.3        296            653        34.1          20.6                 20.6               20.5

In [8]:
# strip leading and trailing spaces

recurr2015 = recurr2015.applymap(lambda x: x.lstrip(' ').rstrip(' ') if isinstance(x, str) else x)

recurr2015.head(3)

             schid  demschoolwhite enroll2015 enrolldist2015  lowinc2015 act2015school actscore2015district  actscore2015state
0  010010010260001            97.6        206            517        39.3          18.4                 18.4               20.5
1  010010010262002            95.5        311            517        54.7                               18.4               20.5
2  010010020260001            98.3        296            653        34.1          20.6                 20.6               20.5

In [10]:
recurr2015['percmin2015'] = (100 - recurr2015['demschoolwhite'])
recurr2015.head(5)

             schid  demschoolwhite enroll2015 enrolldist2015  lowinc2015 act2015school actscore2015district  actscore2015state  percmin2015
0  010010010260001            97.6        206            517        39.3          18.4                 18.4               20.5          2.4
1  010010010262002            95.5        311            517        54.7                               18.4               20.5          4.5
2  010010020260001            98.3        296            653        34.1          20.6                 20.6               20.5          1.7
3  010010020262002            95.5        357            653        37.8                               20.6               20.5          4.5
4  010010030260001            96.1        283            862        47.3          19.6                 19.6               20.5          3.9

In [11]:
recurr2015.to_csv("rc15csv/recurr2015.csv", index=False)

In [12]:
#For rest of the data, where values are all spaces inserts --

data = data.applymap(lambda x: "--" if isinstance(x, str) and x.isspace() else x)
data.head(3)

               0   1    2                                  3                                  4                  5            6    7    8            9       10           11                               12    13   14   15   16   17   18   19     20  21  22  23  24  25  26  27  28    29  ...    736    737  738    739   740    741 742    743   744    745  746    747   748    749 750    751   752    753    754    755    756    757    758  759 760  761  762   763  764  765
0  010010010260001   0  NaN  Seymour High School                Payson CUSD 1                      Payson             Adams          2    8  UNIT         MEDIUM  HIGH SCHOOL  7 8 9 10 11 12                   97.6  0.0  0.0    0  0.5  0.0  1.9    206  --  --  --  --  --  --  --  --  96.3 ...   94.1   72.7   --   72.7  73.4   69.7  --   69.7  69.6   93.0   --   93.0  83.4   48.5  --   48.5  25.4   91.0   57.1  100.0   84.5   88.0   83.8    0   0    0    2  3764  859  NaN
1  010010010262002   2  NaN  Seymour Elementary School          Payson CUSD 1                      Payson             Adams          2    8  UNIT         MEDIUM  ELEMENTARY   PK K 1 2 3 4 5 6                 95.5  0.6  0.0    0  0.0  0.0  3.9    311  --  --  --  --  --  --  --  --  96.3 ...   94.1     --   --   72.7  73.4     --  --   69.7  69.6     --   --   93.0  83.4     --  --   48.5  25.4   87.9   78.3  100.0   84.5   88.0   83.8    0   0    0    2  3764  859  NaN
2  010010020260001   0  NaN  Liberty High School                Liberty CUSD 2                     Liberty            Adams          2    8  UNIT         MEDIUM  HIGH SCHOOL  7 8 9 10 11 12                   98.3  0.3  0.3    0  0.0  0.3  0.7    296  --  --  --  --  --  --  --  --  96.8 ...   94.1   81.6   --   81.6  73.4   77.6  --   77.6  69.6   97.4   --   97.4  83.4   28.3  --   28.3  25.4   98.3   80.8  100.0   84.5   88.0   83.8    0   0    0    2  3764  859  NaN

[3 rows x 766 columns]

In [13]:
# Where values are empty NaN, fills them with --
data = data.fillna('--')
data.head(3)

               0   1   2                                  3                                  4                  5            6    7    8            9       10           11                               12    13   14   15   16   17   18   19     20  21  22  23  24  25  26  27  28    29  ...    736    737  738    739   740    741 742    743   744    745  746    747   748    749 750    751   752    753    754    755    756    757    758  759 760  761  762   763  764  765
0  010010010260001   0  --  Seymour High School                Payson CUSD 1                      Payson             Adams          2    8  UNIT         MEDIUM  HIGH SCHOOL  7 8 9 10 11 12                   97.6  0.0  0.0    0  0.5  0.0  1.9    206  --  --  --  --  --  --  --  --  96.3 ...   94.1   72.7   --   72.7  73.4   69.7  --   69.7  69.6   93.0   --   93.0  83.4   48.5  --   48.5  25.4   91.0   57.1  100.0   84.5   88.0   83.8    0   0    0    2  3764  859   --
1  010010010262002   2  --  Seymour Elementary School          Payson CUSD 1                      Payson             Adams          2    8  UNIT         MEDIUM  ELEMENTARY   PK K 1 2 3 4 5 6                 95.5  0.6  0.0    0  0.0  0.0  3.9    311  --  --  --  --  --  --  --  --  96.3 ...   94.1     --   --   72.7  73.4     --  --   69.7  69.6     --   --   93.0  83.4     --  --   48.5  25.4   87.9   78.3  100.0   84.5   88.0   83.8    0   0    0    2  3764  859   --
2  010010020260001   0  --  Liberty High School                Liberty CUSD 2                     Liberty            Adams          2    8  UNIT         MEDIUM  HIGH SCHOOL  7 8 9 10 11 12                   98.3  0.3  0.3    0  0.0  0.3  0.7    296  --  --  --  --  --  --  --  --  96.8 ...   94.1   81.6   --   81.6  73.4   77.6  --   77.6  69.6   97.4   --   97.4  83.4   28.3  --   28.3  25.4   98.3   80.8  100.0   84.5   88.0   83.8    0   0    0    2  3764  859   --

[3 rows x 766 columns]

In [14]:
# strip leading and trailing spaces

data = data.applymap(lambda x: x.lstrip(' ').rstrip(' ') if isinstance(x, str) else x)

data.head(3)

               0   1   2                          3               4        5      6    7    8     9       10           11                12    13   14   15   16   17   18   19   20  21  22  23  24  25  26  27  28    29  ...    736   737  738   739   740   741 742   743   744   745  746   747   748   749 750   751   752   753   754    755   756   757   758  759 760  761  762   763  764  765
0  010010010260001   0  --        Seymour High School   Payson CUSD 1   Payson  Adams    2    8  UNIT  MEDIUM  HIGH SCHOOL    7 8 9 10 11 12  97.6  0.0  0.0    0  0.5  0.0  1.9  206  --  --  --  --  --  --  --  --  96.3 ...   94.1  72.7   --  72.7  73.4  69.7  --  69.7  69.6  93.0   --  93.0  83.4  48.5  --  48.5  25.4  91.0  57.1  100.0  84.5  88.0  83.8    0   0    0    2  3764  859   --
1  010010010262002   2  --  Seymour Elementary School   Payson CUSD 1   Payson  Adams    2    8  UNIT  MEDIUM   ELEMENTARY  PK K 1 2 3 4 5 6  95.5  0.6  0.0    0  0.0  0.0  3.9  311  --  --  --  --  --  --  --  --  96.3 ...   94.1    --   --  72.7  73.4    --  --  69.7  69.6    --   --  93.0  83.4    --  --  48.5  25.4  87.9  78.3  100.0  84.5  88.0  83.8    0   0    0    2  3764  859   --
2  010010020260001   0  --        Liberty High School  Liberty CUSD 2  Liberty  Adams    2    8  UNIT  MEDIUM  HIGH SCHOOL    7 8 9 10 11 12  98.3  0.3  0.3    0  0.0  0.3  0.7  296  --  --  --  --  --  --  --  --  96.8 ...   94.1  81.6   --  81.6  73.4  77.6  --  77.6  69.6  97.4   --  97.4  83.4  28.3  --  28.3  25.4  98.3  80.8  100.0  84.5  88.0  83.8    0   0    0    2  3764  859   --

[3 rows x 766 columns]

In [15]:
rc2015dem_data = data[[0,13,14,15,16,17,18,19,29,30,31,32,33,34,35,37,38,39,40,41,42,43,44,45,47,48,49,51,52,55,56,57,59,60,65,67,68,69,71,72,125,127,128,133,135,136,137,139,140,141,143,144,145,147,148,149,151,152,153,155,156,157,159,160,161,163,164,165,167,168,169,171,172,173,175,176,177,179,180,181,183,184,185,187,188,189,191,192,193,195,196,197,199,200,201,203,204,205,207,208,209,211,212,213,215,216,217,219,220,221,223,224,225,227,228,229,231,232,233,235,236,237,239,240,241,243,244,245,247,248,249,251,252,257,259,260,261,263,264,265,267,268,269,271,272,273,275,276,277,279,280,281,283,284,285,287,288,289,291,292,293,295,296,309,311,312,313,315,316,317,319,320,321,323,324,325,327,328,329,331,332,333,335,336,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,419,420,427,428,435,436,439,440,451,452,455,456,475,477,478,479,481,482,484,485,487,488,490,491,493,494,496,497,505,506,509,510,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,737,739,740,741,743,744,745,747,748,749,751,752]]
# Missing: 554,556,557,670,672,673,782,784,785 - 'nttkreadsch','nttkreaddist','nttkreadstate','nttkmathschool','nttkmathdist','nttkmathstate','nttkscischool','nttkscidist','nttkscistate'
rc2015dem_data.columns = ['schid','demschoolwhite','demschoolblack','demschoolhisp','demschoolasian','demschoolnathaw','demschoolnatam','demschoolmulti','demdistwhite','demdistblack','demdisthisp','demdistasian','demdistnathaw','demdistnatam','demdistmulti','demstatewhite','demstateblack','demstatehisp','demstateasian','demstatenathaw','demstatenatam','demstatemulti','enrollstate','demschoollep','demdistlep','demstatelep','demschooliep','demdistiep','demstateiep','demdistlow','demstatelow','demschoolhome','demdisthome','demstatehome','demschoolparent','demdistparent','demstateparent','percattendschoolall','percattenddistall','percattendstateall','percmobileschool','percmobiledist','percmobilestate','perctruantschool','perctruantdist','perctruantstate','percdropoutschool','percdropoutdist','percdropoutstate','perchs4gradschoolall','perchs4graddistall','perchs4gradstateall','perchs4gradschoolmale','perchs4graddistmale','perchs4gradstatemale','perchs4gradschoolfemale','perchs4graddistfemale','perchs4gradstatefemale','perchs4gradschoolwhite','perchs4graddistwhite','perchs4gradstatewhite','perchs4gradschoolblack','perchs4graddistblack','perchs4gradstateblack','perchs4gradschoolhisp','perchs4graddisthisp','perchs4gradstatehisp','perchs4gradschoolasian','perchs4graddistasian','perchs4gradstateasian','perchs4gradschoolnathaw','perchs4graddistnathaw','perchs4gradstatenathaw','perchs4gradschoolnatam','perchs4graddistnatam','perchs4gradstatenatam','perchs4gradschoolmulti','perchs4graddistmulti','perchs4gradstatemulti','perchs4gradschoollep','perchs4graddistlep','perchs4gradstatelep','perchs4gradschoolmigrant','perchs4graddistmigrant','perchs4gradstatemigrant','perchs4gradschooliep','perchs4graddistiep','perchs4gradstateiep','perchs4gradschoollow','perchs4graddistlow','perchs4gradstatelow','perchs5gradschoolall','perchs5graddistall','perchs5gradstateall','perchs5gradschoolmale','perchs5graddistmale','perchs5gradstatemale','perchs5gradschoolfemale','perchs5graddistfemale','perchs5gradstatefemale','perchs5gradschoolwhite','perchs5graddistwhite','perchs5gradstatewhite','perchs5gradschoolblack','perchs5graddistblack','perchs5gradstateblack','perchs5gradschoolhisp','perchs5graddisthisp','perchs5gradstatehisp','perchs5gradschoolasian','perchs5graddistasian','perchs5gradstateasian','perchs5gradschoolnathaw','perchs5graddistnathaw','perchs5gradstatenathaw','perchs5gradschoolnatam','perchs5graddistnatam','perchs5gradstatenatam','perchs5gradschoolmulti','perchs5graddistmulti','perchs5gradstatemulti','perchs5gradschoollep','perchs5graddistlep','perchs5gradstatelep','perchs5gradschoolmigrant','perchs5graddistmigrant','perchs5gradstatemigrant','perchs5gradschooliep','perchs5graddistiep','perchs5gradstateiep','perchs5gradschoollow','perchs5graddistlow','perchs5gradstatelow','actschooleng','actdisteng','actstateeng','actschoolmath','actdistmath','actstatemath','actschoolread','actdistread','actstateread','actschoolsci','actdistsci','actstatesci','percschoolcol','percdistcol','percstatecol','actschoolengmet','actdistengmet','actstateengmet','actschoolmathmet','actdistmathmet','actstatemathmet','actschoolreadmet','actdistreadmet','actstatereadmet','actschoolscimet','actdistscimet','actstatescimet','actschoolallmet','actdistallmet','actstateallmet','sizeschool3','sizedist3','sizestate3','sizeschool4','sizedist4','sizestate4','sizeschool5','sizedist5','sizestate5','sizeschool6','sizedist6','sizestate6','sizeschool7','sizedist7','sizestate7','sizeschool8','sizedist8','sizestate8','sizeschoolhs','sizedisths','sizestatehs','teacherdistpercwhite','teacherstatepercwhite','teacherdistpercblack','teacherstatepercblack','teacherdistperchisp','teacherstateperchisp','teacherdistpercasian','teacherstatepercasian','teacherdistpercnathaw','teacherstatepercnathaw','teacherdistpercnatam','teacherstatepercnatam','teacherdistpercmulti','teacherstatepercmulti','teacherdistpercunknown','teacherstatepercunknown','teacherdistpercmale','teacherstatepercmale','teacherdistpercfemale','teacherstatepercfemale','teacherdisttotalfte','teacherstatetotalfte','teacherdistavgexp','teacherstateavgexp','teacherdistbach','teacherstatebach','teacherdistmast','teacherstatemast','teacherratiodistelem','teacherratiostateelem','teacherratiodisths','teacherratiostatehs','teachsaldist','teachsalstate','adminsaldist','adminsalstate','teacherschoolret','teacherdistret','teacherstateret','principalschoolturn','principaldistturn','principalstateturn','fundlocpropdistperc','fundlocpropstateperc','fundotherdistperc','fundotherstateperc','fundstateaiddistperc','fundstateaidstateperc','fundotherstatedistperc','fundotherstatestateperc','fundfeddistperc','fundfedstateperc','instexppupildist','instexppupilstate','otherexppupildist','otherexppupilstate','instdollars','instdollarsdistperc','instdollarsstateperc','genadmindollars','genadmindistperc','genadminstateperc','supportservdollars','supportservdistperc','supportservstateperc','otherexpdollars','otherexpdistperc','otherexpstateperc','edfunddollars','edfunddistperc','edfundstateperc','opbmdollars','opbmdistperc','opbmstateperc','transportdollars','transportdistperc','transportstateperc','debtservdollars','debtservdistperc','debtservstateperc','tortdollars','tortdistperc','tortstateperc','muncretsocdollars','muncretsocdistperc','muncretsocstateperc','fireprevdollars','fireprevdistperc','fireprevstateperc','capdollars','capdistperc','capstateperc','percschoolenroll16','percdistenroll16','percstateenroll16','percschoolenroll12','percdistenroll12','percstateenroll12','percschoolfresh','percdistfresh','percstatefresh','perc8algsch','perc8algdist','perc8algstate']
rc2015dem_data.head(3)

             schid  demschoolwhite  demschoolblack  demschoolhisp  demschoolasian  demschoolnathaw  demschoolnatam  demschoolmulti  demdistwhite  demdistblack  demdisthisp  demdistasian  demdistnathaw  demdistnatam  demdistmulti  demstatewhite  demstateblack  demstatehisp  demstateasian  demstatenathaw  demstatenatam  demstatemulti enrollstate  demschoollep  demdistlep  demstatelep  demschooliep  demdistiep  demstateiep  demdistlow      ...       transportdollars  transportdistperc  transportstateperc  debtservdollars  debtservdistperc  debtservstateperc  tortdollars  tortdistperc  tortstateperc  muncretsocdollars muncretsocdistperc muncretsocstateperc fireprevdollars fireprevdistperc fireprevstateperc capdollars capdistperc capstateperc percschoolenroll16 percdistenroll16 percstateenroll16 percschoolenroll12 percdistenroll12 percstateenroll12 percschoolfresh percdistfresh percstatefresh perc8algsch perc8algdist perc8algstate
0  010010010260001            97.6             0.0            0.0               0              0.5             0.0             1.9          96.3           0.4          0.0             0            0.2           0.0           3.1           49.3           17.5          25.1            4.6             0.1            0.3            3.1   2,054,556             0           0         10.3           5.3        11.0         14.1        48.5      ...               $331,418                  7                 3.7         $225,652               4.8                  8     $239,415           5.1            1.2           $132,372                2.8                 2.1        $103,024              2.2               0.5         $0           0          4.7               72.7             72.7              73.4               69.7             69.7              69.6            93.0          93.0           83.4        48.5         48.5          25.4
1  010010010262002            95.5             0.6            0.0               0              0.0             0.0             3.9          96.3           0.4          0.0             0            0.2           0.0           3.1           49.3           17.5          25.1            4.6             0.1            0.3            3.1   2,054,556             0           0         10.3          14.8        11.0         14.1        48.5      ...               $331,418                  7                 3.7         $225,652               4.8                  8     $239,415           5.1            1.2           $132,372                2.8                 2.1        $103,024              2.2               0.5         $0           0          4.7                 --             72.7              73.4                 --             69.7              69.6              --          93.0           83.4          --         48.5          25.4
2  010010020260001            98.3             0.3            0.3               0              0.0             0.3             0.7          96.8           0.6          0.2             0            0.0           0.2           2.3           49.3           17.5          25.1            4.6             0.1            0.3            3.1   2,054,556             0           0         10.3          15.2        14.4         14.1        36.1      ...               $425,930                7.7                 3.7               $0                 0                  8     $401,749           7.3            1.2           $175,121                3.2                 2.1         $24,151              0.4               0.5         $0           0          4.7               81.6             81.6              73.4               77.6             77.6              69.6            97.4          97.4           83.4        28.3         28.3          25.4

[3 rows x 288 columns]

In [16]:
con = create_engine('mysql+pymysql://root:root@localhost:8889/School Report Cards', echo=False)
print('connected')

connected

In [17]:
#drops tables if they exist
con.execute("DROP TABLE IF EXISTS rc2015dem")# for demographics

/Users/jeff/Desktop/conda/anaconda/lib/python3.4/site-packages/pymysql/cursors.py:134: Warning: Unknown table 'rc2015dem'
  result = self._query(query)

In [18]:
dem_columns=[
    Column('schid', String(20), primary_key=True),
    Column('demschoolwhite', String(5)),
    Column('demschoolblack', String(5)),
    Column('demschoolhisp', String(5)),
    Column('demschoolasian', String(5)),
    Column('demschoolnathaw', String(5)),
    Column('demschoolnatam', String(5)),
    Column('demschoolmulti', String(5)),
    Column('demdistwhite', String(5)),
    Column('demdistblack', String(5)),
    Column('demdisthisp', String(5)),
    Column('demdistasian', String(5)),
    Column('demdistnathaw', String(5)),
    Column('demdistnatam', String(5)),
    Column('demdistmulti', String(5)),
    Column('demstatewhite', String(5)),
    Column('demstateblack', String(5)),
    Column('demstatehisp', String(5)),
    Column('demstateasian', String(5)),
    Column('demstatenathaw', String(5)),
    Column('demstatenatam', String(5)),
    Column('demstatemulti', String(5)),
    Column('enrollstate', String(10)),
    Column('demschoollep', String(5)),
    Column('demdistlep', String(5)),
    Column('demstatelep', String(5)),
    Column('demschooliep', String(5)),
    Column('demdistiep', String(5)),
    Column('demstateiep', String(5)),
    Column('demdistlow', String(5)),
    Column('demstatelow', String(5)),
    Column('demschoolhome', String(5)),
    Column('demdisthome', String(5)),
    Column('demstatehome', String(5)),
    Column('demschoolparent', String(5)),
    Column('demdistparent', String(5)),
    Column('demstateparent', String(5)),
    Column('percattendschoolall', String(5)),
    Column('percattenddistall', String(5)),
    Column('percattendstateall', String(5)),
    Column('percmobileschool', String(5)),
    Column('percmobiledist', String(5)),
    Column('percmobilestate', String(5)),
    Column('perctruantschool', String(5)),
    Column('perctruantdist', String(5)),
    Column('perctruantstate', String(5)),
    Column('percdropoutschool', String(5)),
    Column('percdropoutdist', String(5)),
    Column('percdropoutstate', String(5)),
    Column('perchs4gradschoolall', String(5)),
    Column('perchs4graddistall', String(5)),
    Column('perchs4gradstateall', String(5)),
    Column('perchs4gradschoolmale', String(5)),
    Column('perchs4graddistmale', String(5)),
    Column('perchs4gradstatemale', String(5)),
    Column('perchs4gradschoolfemale', String(5)),
    Column('perchs4graddistfemale', String(5)),
    Column('perchs4gradstatefemale', String(5)),
    Column('perchs4gradschoolwhite', String(5)),
    Column('perchs4graddistwhite', String(5)),
    Column('perchs4gradstatewhite', String(5)),
    Column('perchs4gradschoolblack', String(5)),
    Column('perchs4graddistblack', String(5)),
    Column('perchs4gradstateblack', String(5)),
    Column('perchs4gradschoolhisp', String(5)),
    Column('perchs4graddisthisp', String(5)),
    Column('perchs4gradstatehisp', String(5)),
    Column('perchs4gradschoolasian', String(5)),
    Column('perchs4graddistasian', String(5)),
    Column('perchs4gradstateasian', String(5)),
    Column('perchs4gradschoolnathaw', String(5)),
    Column('perchs4graddistnathaw', String(5)),
    Column('perchs4gradstatenathaw', String(5)),
    Column('perchs4gradschoolnatam', String(5)),
    Column('perchs4graddistnatam', String(5)),
    Column('perchs4gradstatenatam', String(5)),
    Column('perchs4gradschoolmulti', String(5)),
    Column('perchs4graddistmulti', String(5)),
    Column('perchs4gradstatemulti', String(5)),
    Column('perchs4gradschoollep', String(5)),
    Column('perchs4graddistlep', String(5)),
    Column('perchs4gradstatelep', String(5)),
    Column('perchs4gradschoolmigrant', String(5)),
    Column('perchs4graddistmigrant', String(5)),
    Column('perchs4gradstatemigrant', String(5)),
    Column('perchs4gradschooliep', String(5)),
    Column('perchs4graddistiep', String(5)),
    Column('perchs4gradstateiep', String(5)),
    Column('perchs4gradschoollow', String(5)),
    Column('perchs4graddistlow', String(5)),
    Column('perchs4gradstatelow', String(5)),
    Column('perchs5gradschoolall', String(5)),
    Column('perchs5graddistall', String(5)),
    Column('perchs5gradstateall', String(5)),
    Column('perchs5gradschoolmale', String(5)),
    Column('perchs5graddistmale', String(5)),
    Column('perchs5gradstatemale', String(5)),
    Column('perchs5gradschoolfemale', String(5)),
    Column('perchs5graddistfemale', String(5)),
    Column('perchs5gradstatefemale', String(5)),
    Column('perchs5gradschoolwhite', String(5)),
    Column('perchs5graddistwhite', String(5)),
    Column('perchs5gradstatewhite', String(5)),
    Column('perchs5gradschoolblack', String(5)),
    Column('perchs5graddistblack', String(5)),
    Column('perchs5gradstateblack', String(5)),
    Column('perchs5gradschoolhisp', String(5)),
    Column('perchs5graddisthisp', String(5)),
    Column('perchs5gradstatehisp', String(5)),
    Column('perchs5gradschoolasian', String(5)),
    Column('perchs5graddistasian', String(5)),
    Column('perchs5gradstateasian', String(5)),
    Column('perchs5gradschoolnathaw', String(5)),
    Column('perchs5graddistnathaw', String(5)),
    Column('perchs5gradstatenathaw', String(5)),
    Column('perchs5gradschoolnatam', String(5)),
    Column('perchs5graddistnatam', String(5)),
    Column('perchs5gradstatenatam', String(5)),
    Column('perchs5gradschoolmulti', String(5)),
    Column('perchs5graddistmulti', String(5)),
    Column('perchs5gradstatemulti', String(5)),
    Column('perchs5gradschoollep', String(5)),
    Column('perchs5graddistlep', String(5)),
    Column('perchs5gradstatelep', String(5)),
    Column('perchs5gradschoolmigrant', String(5)),
    Column('perchs5graddistmigrant', String(5)),
    Column('perchs5gradstatemigrant', String(5)),
    Column('perchs5gradschooliep', String(5)),
    Column('perchs5graddistiep', String(5)),
    Column('perchs5gradstateiep', String(5)),
    Column('perchs5gradschoollow', String(5)),
    Column('perchs5graddistlow', String(5)),
    Column('perchs5gradstatelow', String(5)),
    Column('actschooleng', String(4)),
    Column('actdisteng', String(4)),
    Column('actstateeng', String(4)),
    Column('actschoolmath', String(4)),
    Column('actdistmath', String(4)),
    Column('actstatemath', String(4)),
    Column('actschoolread', String(4)),
    Column('actdistread', String(4)),
    Column('actstateread', String(4)),
    Column('actschoolsci', String(4)),
    Column('actdistsci', String(4)),
    Column('actstatesci', String(4)),
    Column('percschoolcol', String(5)),
    Column('percdistcol', String(5)),
    Column('percstatecol', String(5)),
    Column('actschoolengmet', String(5)),
    Column('actdistengmet', String(5)),
    Column('actstateengmet', String(5)),
    Column('actschoolmathmet', String(5)),
    Column('actdistmathmet', String(5)),
    Column('actstatemathmet', String(5)),
    Column('actschoolreadmet', String(5)),
    Column('actdistreadmet', String(5)),
    Column('actstatereadmet', String(5)),
    Column('actschoolscimet', String(5)),
    Column('actdistscimet', String(5)),
    Column('actstatescimet', String(5)),
    Column('actschoolallmet', String(5)),
    Column('actdistallmet', String(5)),
    Column('actstateallmet', String(5)),
    Column('sizeschool3', String(5)),
    Column('sizedist3', String(5)),
    Column('sizestate3', String(5)),
    Column('sizeschool4', String(5)),
    Column('sizedist4', String(5)),
    Column('sizestate4', String(5)),
    Column('sizeschool5', String(5)),
    Column('sizedist5', String(5)),
    Column('sizestate5', String(5)),
    Column('sizeschool6', String(5)),
    Column('sizedist6', String(5)),
    Column('sizestate6', String(5)),
    Column('sizeschool7', String(5)),
    Column('sizedist7', String(5)),
    Column('sizestate7', String(5)),
    Column('sizeschool8', String(5)),
    Column('sizedist8', String(5)),
    Column('sizestate8', String(5)),
    Column('sizeschoolhs', String(5)),
    Column('sizedisths', String(5)),
    Column('sizestatehs', String(5)),
    Column('teacherdistpercwhite', String(5)),
    Column('teacherstatepercwhite', String(5)),
    Column('teacherdistpercblack', String(5)),
    Column('teacherstatepercblack', String(5)),
    Column('teacherdistperchisp', String(5)),
    Column('teacherstateperchisp', String(5)),
    Column('teacherdistpercasian', String(5)),
    Column('teacherstatepercasian', String(5)),
    Column('teacherdistpercnathaw', String(5)),
    Column('teacherstatepercnathaw', String(5)),
    Column('teacherdistpercnatam', String(5)),
    Column('teacherstatepercnatam', String(5)),
    Column('teacherdistpercmulti', String(5)),
    Column('teacherstatepercmulti', String(5)),
    Column('teacherdistpercunknown', String(5)),
    Column('teacherstatepercunknown', String(5)),
    Column('teacherdistpercmale', String(5)),
    Column('teacherstatepercmale', String(5)),
    Column('teacherdistpercfemale', String(5)),
    Column('teacherstatepercfemale', String(5)),
    Column('teacherdisttotalfte', String(7)),
    Column('teacherstatetotalfte', String(7)),
    Column('teacherdistavgexp', String(5)),
    Column('teacherstateavgexp', String(5)),
    Column('teacherdistbach', String(5)),
    Column('teacherstatebach', String(5)),
    Column('teacherdistmast', String(5)),
    Column('teacherstatemast', String(5)),
    Column('teacherratiodistelem', String(5)),
    Column('teacherratiostateelem', String(5)),
    Column('teacherratiodisths', String(5)),
    Column('teacherratiostatehs', String(5)),
    Column('teachsaldist', String(11)),
    Column('teachsalstate', String(11)),
    Column('adminsaldist', String(11)),
    Column('adminsalstate', String(11)),
    Column('teacherschoolret', String(5)),
    Column('teacherdistret', String(5)),
    Column('teacherstateret', String(5)),
    Column('principalschoolturn', String(4)),
    Column('principaldistturn', String(4)),
    Column('principalstateturn', String(4)),
    Column('fundlocpropdistperc', String(5)),
    Column('fundlocpropstateperc', String(5)),
    Column('fundotherdistperc', String(5)),
    Column('fundotherstateperc', String(5)),
    Column('fundstateaiddistperc', String(5)),
    Column('fundstateaidstateperc', String(5)),
    Column('fundotherstatedistperc', String(5)),
    Column('fundotherstatestateperc', String(5)),
    Column('fundfeddistperc', String(5)),
    Column('fundfedstateperc', String(5)),
    Column('instexppupildist', String(10)),
    Column('instexppupilstate', String(10)),
    Column('otherexppupildist', String(10)),
    Column('otherexppupilstate', String(10)),
    Column('instdollars', String(16)),
    Column('instdollarsdistperc', String(5)),
    Column('instdollarsstateperc', String(5)),
    Column('genadmindollars', String(16)),
    Column('genadmindistperc', String(5)),
    Column('genadminstateperc', String(5)),
    Column('supportservdollars', String(16)),
    Column('supportservdistperc', String(5)),
    Column('supportservstateperc', String(5)),
    Column('otherexpdollars', String(16)),
    Column('otherexpdistperc', String(5)),
    Column('otherexpstateperc', String(5)),
    Column('edfunddollars', String(16)),
    Column('edfunddistperc', String(5)),
    Column('edfundstateperc', String(5)),
    Column('opbmdollars', String(16)),
    Column('opbmdistperc', String(5)),
    Column('opbmstateperc', String(5)),
    Column('transportdollars', String(16)),
    Column('transportdistperc', String(5)),
    Column('transportstateperc', String(5)),
    Column('debtservdollars', String(16)),
    Column('debtservdistperc', String(5)),
    Column('debtservstateperc', String(5)),
    Column('tortdollars', String(16)),
    Column('tortdistperc', String(5)),
    Column('tortstateperc', String(5)),
    Column('muncretsocdollars', String(16)),
    Column('muncretsocdistperc', String(5)),
    Column('muncretsocstateperc', String(5)),
    Column('fireprevdollars', String(16)),
    Column('fireprevdistperc', String(5)),
    Column('fireprevstateperc', String(5)),
    Column('capdollars', String(16)),
    Column('capdistperc', String(5)),
    Column('capstateperc', String(5)),
    Column('percschoolenroll16', String(5)),
    Column('percdistenroll16', String(5)),
    Column('percstateenroll16', String(5)),
    Column('percschoolenroll12', String(5)),
    Column('percdistenroll12', String(5)),
    Column('percstateenroll12', String(5)),
    Column('percschoolfresh', String(5)),
    Column('percdistfresh', String(5)),
    Column('percstatefresh', String(5)),
    Column('perc8algsch', String(5)),
    Column('perc8algdist', String(5)),
    Column('perc8algstate', String(5))
      ]
print('ready')

#Not in dem release
#    Column('nttkreadsch', String(5)),
#    Column('nttkreaddist', String(5)),
#    Column('nttkreadstate', String(5)),
#    Column('nttkmathschool', String(5)),
#    Column('nttkmathdist', String(5)),
#    Column('nttkmathstate', String(5)),
#    Column('nttkscischool', String(5)),
#    Column('nttkscidist', String(5)),
#    Column('nttkscistate', String(5)),

ready

In [19]:
metadata = MetaData()
rc2014dem = Table('rc2015dem', metadata, *dem_columns, mysql_engine='InnoDB')
print('metadata created')

metadata created

In [20]:
metadata.create_all(con)
print("created")

created

In [21]:
#uploads all the data
rc2015dem_data.to_sql(name='rc2015dem', con=con, if_exists = 'append', index=False, index_label=None, chunksize=1000)
print('done')

done

In [23]:
rc2015dem_data.to_csv("rc15csv/rc2015dem.csv", index=False)